<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link href="~/Content/Layout.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Lista.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div id="Menu">
        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "Menu_Przycisk" })
        @Html.ActionLink("Zaginieni", "ListaZaginionych", "Home", new { area = "" }, new { @class = "Menu_Przycisk" })
        @Html.ActionLink("Zgłoś zaginięcie", "DodajZaginionego", "Home", new { area = "" }, new { @class = "Menu_Przycisk" })
   
    <div class="Menu_Przycisk">
        @Html.Partial("_LoginPartial")
    </div>
 </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Moja aplikacja ASP.NET</p>
        </footer>
    </div>

</body>
</html>
